// Colors
$white: #FFFFFF;
$primary-blue: #3056FB;
$default-font-color: #2B2D2F;
$repo-bg-color: #F5F7F9;

// Containers width
$list-container-width: 800px;
$repo-container-width: 600px;

// font sizes
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;

// line heights
$line-height-small: 16px;
$line-height-medium: 20px;
$line-height-large: 24px;

// icon sizes
$icon-size-small: 20px;
$icon-size-medium: 24px;
$icon-size-large: 28px;