<div class="repo-container d-flex px-3 py-3 align-items-center mb-2">
    <img
        [src]="repo.owner.avatarUrl"
        [alt]="repo.owner.login"
        width="50"
        height="50"
        class="avatar"
    />
    <div class="details ms-3 flex-grow-1 overflow-hidden">
        <div class="d-flex justify-content-between align-items-center mb-1">
            <h5 class="mb-1 fw-bold hover-underline" role="button" (click)="onNameClick()">{{ repo.name }}</h5>
            <ng-container *ngIf="shouldShowStarRating()">
                <app-star-rating [defaultRating]="repo.myRating!"></app-star-rating>
            </ng-container>
        </div>
        
        <div class="mb-2 text-muted text-truncate" [attr.title]="repo.description">{{ repo.description }}</div>
        <div class="d-flex align-items-center">
            <div class="chip me-2">
                <div class="d-flex align-items-center">
                    <mat-icon aria-hidden="false" aria-label="Star" fontIcon="star" class="icon-small me-2"></mat-icon>
                    Stars: {{ repo.stargazersCount | shortNumber}}
                </div>
            </div>
            <div class="chip me-2">
                <div class="d-flex align-items-center">
                    <mat-icon aria-hidden="false" aria-label="Issue" fontIcon="adjust" class="icon-small me-2"></mat-icon>
                    Issues: {{ repo.openIssuesCount | shortNumber}}
                </div>
            </div>
            <p class="font-small m-0">
                Submitted {{ getSubmittedAgo(repo.createdDate) }} days ago by {{ repo.owner.login }}
            </p>
        </div>

    </div>
</div>
