@use 'variables' as vars;

.repo-container {
    min-width: vars.$repo-container-width;
    background: vars.$repo-bg-color;
    border-radius: 20px;
}

.hover-underline:hover {
  text-decoration: underline;
}
