<div class="p-4">
    <div class="modal-header">
        <h5 class="modal-title">Repository Details</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
        <app-repo-details [repo]="data.repo"></app-repo-details>
        <div class="d-flex align-items-center justify-content-between mt-4">
            <app-star-rating [defaultRating]="data.repo.metaInformation.myRating!" (ratingChange)="onRatingChange($event)"></app-star-rating>
            <button class="button-primary mt-3" (click)="submitRating()">Rate it</button>
        </div>
    </div>
</div>
